<section>
  <div>
    <div>
      <h1>Jefatura Almacen Ruta</h1>
    </div>
  </div>

  <div>
    <div>
      <h3>Fecha:</h3>
    </div>
  </div>
</section>

<!------------------------------------->
<!--Seccion asignada para cada chofer-->
<!------------------------------------->
<section>
  <div>
    <div>
      <h4>Chofer:</h4>
      <h4>Unidad: Sin unidad / asignar Unidad</h4>
      <form action="">
        <select name="" id="">
          <option value="">Unidad1</option>
          <option value="">Unidad2</option>
          <option value="">Unidad3</option>
        </select>
        <button>Asignar</button>
      </form>
    </div>
  </div>

  <div>
    <div>
      <form action="">
        <label for="">Hora de salida</label>
        <input type="text" />
        <label for="">km salida</label>
        <input type="text" />

        <input type="button" value="Iniciar Ruta" />
      </form>
    </div>
  </div>

  <!--Seccion para asignar pedidos-->
  <div>
    <div>
      <h4>Pedidos</h4>
      <button>Agregar Pedido a Ruta</button>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Numero Pedido</th>
            <th>Sucursal</th>
            <th>Nombre Cliente</th>
            <th>Domicilio</th>
            <th>Horario Referencia</th>
            <th>Quien Recibe</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div>
    <div>
      <form action="">
        <label for="">Hora de llegada</label>
        <input type="text" />
        <label for="">Km llegada</label>
        <input type="text" />
        <label for="">Incidencia</label>
        <input type="text" />
        <label for="">Anotaciones</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>

        <input type="button" value="Cerrar Ruta" />
      </form>
    </div>
  </div>
</section>
<!------------------------------------->
<!------------------------------------->
<!------------------------------------->
