<h1>App Almacen</h1>
<p>Llenado tienda pedido para Almacen</p>

<section>
  <div>
    <div>
      <h1>Facturacion</h1>
    </div>

    <div>
      <table>
        <thead>
          <tr>
            <th>N.- Pedido</th>
            <th>Nombre</th>
            <th>Sucursal</th>
            <th>USO de CFDI:</th>
            <th>Condiciones:</th>
            <th>Tipo de pago:</th>
            <th>Banco:</th>
            <th>Numero de Cuenta:</th>
            <th>Clave interbancaria:</th>
            <th>Monto</th>
            <th>Monto + IVA</th>
            <th>Embarque</th>
            <th>Factura</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>

<!--Ejemplo facturacion Llenado Individual-->

<form action="">
  <h4>N.- Pedido:</h4>
  <h4>Nombre:</h4>
  <h4>Sucursal:</h4>
  <h4>USO de CFDI:</h4>
  <h4>Condiciones:</h4>
  <h4>Tipo de pago:</h4>
  <h4>Banco:</h4>
  <h4>Numero de Cuenta:</h4>
  <h4>Clave interbancaria:</h4>

  <label for="">Monto</label>
  <input type="text" />

  <label for="">Monto + IVA</label>
  <input type="text" />

  <label for="">Embarque</label>
  <input type="text" />

  <label for="">Factura</label>
  <input type="text" />
</form>
