<h1>App Almacen</h1>
<p>Llenado tienda pedido para Almacen</p>

<!--------------------------------------------->
<!------Formulario llenado tienda pedido------->
<!--------------------------------------------->
<section>
  <div>
    <form action="">
      <!--Fecha--->
      <div class="date">
        <p>Fecha de emision</p>
        <input type="date" />
      </div>

      <!--Folio Pedido--->
      <div class="date">
        <label for="">Folio del pedido</label>
        <input type="text" />
      </div>

      <!--Estatus del pedido--->
      <div class="date">
        <label for="">Estatus del pedido</label>
        <select name="" id="" form="">
          <option value="facturado">Facturado</option>
          <option value="sinfacturar">Por Facturar</option>
        </select>
        <!-- Se debe de despplegar una opcion para ingresar el numero de factura --->
      </div>

      <!--Nombre del cliente-->
      <div class="data-pedido">
        <label for="nombre">Nombre del cliente</label>
        <input type="text" />
      </div>

      <!--Domicilio  del cliente-->
      <div class="data-pedido">
        <label for="nombre">Domicilio de entrega</label>
        <input type="text" />
        <!--Este es una base sencilla se debera de tener cada parte por separado-->
        <!--En los mejores casos consumir un API para direccciones de Jalisco-->
      </div>

      <!--Horario de preferencia-->
      <div class="data-pedido">
        <label for="nombre">Horario de entrega</label>
        <input type="number" min="5" max="10" /> <span>A</span>
        <input type="number" min="5" max="10" />
        <!---->
      </div>

      <!--Persona quien recibe-->
      <div class="data-pedido">
        <label for="nombre">Persona quien recibe</label>
        <input type="text" />
        <!---->
      </div>

      <!--telefono-->
      <div class="data-pedido">
        <label for="nombre">Telefono</label>
        <input
          type="tel"
          placeholder="33-3802-6275"
          pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}"
        />
        <!---->
      </div>

      <!--Condiciones-->
      <div class="data-pedido">
        <label for="nombre">Condiciones</label>
        <select name="" id="" form="">
          <option value="facturado">Credito</option>
          <option value="sinfacturar">Contado</option>
        </select>
        <!---->
      </div>

      <!--Uso de CFDI-->
      <div class="data-pedido">
        <label for="nombre">Uso de CFDI</label>
        <select name="" id="" form="">
          <option value="sinfacturar">G03</option>
          <option value="sinfacturar">G01</option>
        </select>
        <!---->
      </div>

      <!--Condiciones-->
      <div class="data-pedido">
        <label for="nombre">Condiciones</label>
        <select name="" id="" form="">
          <option value="facturado">Credito</option>
          <option value="sinfacturar">Contado</option>
        </select>
        <!---->
      </div>

      <!--Tipo de pago-->
      <div class="data-pedido">
        <label for="nombre">Tipo de Pago</label>
        <input type="text" />
        <!---->
      </div>

      <!--Banco-->
      <div class="data-pedido">
        <label for="nombre">Banco</label>
        <input type="text" />
        <!---->
      </div>

      <!--Numero de Cuenta-->
      <div class="data-pedido">
        <label for="nombre">Numero de cuenta</label>
        <input type="text" />
        <!---->
      </div>

      <!--Clave interbancaria-->
      <div class="data-pedido">
        <label for="nombre">Clave interbancaria</label>
        <input type="text" />
        <!---->
      </div>

      <!--Obervaciones-->
      <div class="data-pedido">
        <label for="">Observaciones</label>
        <textarea></textarea>
        <!---->
      </div>

      <!--Fecha--->
      <div class="date">
        <p>Fecha Para entrega</p>
        <input type="date" />
      </div>
    </form>
  </div>
</section>
