<section>
  <div>
    <div>
      <h1>Fecha:</h1>
      <h2>Fecha de entrega:</h2>
    </div>
  </div>
</section>

<section>
  <div>
    <div>
      <p>Numero Pedido:</p>
    </div>

    <div>
      <p>Tienda Origen:</p>
    </div>

    <div>
      <p>Nombre del cliente: 'se toma de la tienda'</p>
    </div>

    <div>
      <p>Domicilio: 'Ingresado por tienda'</p>
    </div>

    <div>
      <p>Municipio: Generado por sistema</p>
    </div>

    <div>
      <p>Horario de Referencia</p>
    </div>
  </div>
</section>

<section>
  <div>
    <div>
      <form action="">
        <div>
          <label for="">Piezas requeridas</label>
          <input type="text" />
        </div>

        <div>
          <label for="">Piezas Surtidas</label>
          <input type="text" />
        </div>

        <div>
          <label for="">Tipo de pedido</label>
          <select name="cars" id="cars" form="carform">
            <option value="volvo">Ruta</option>
            <option value="saab">Cliente Recoge</option>
          </select>
        </div>

        <div>
          <label for="">Recibio</label>
          <input type="text" />
        </div>
      </form>
    </div>
  </div>
</section>